<!doctype html>
<html class="no-js" lang="es" dir="ltr">

<head>
	<meta charset="utf-8">
	<title><%= pageTitle %></title>
    <meta name="title" content="<%= pageTitle %>">
	<meta name="description" content="Tu ferretería industrial online. Miles de referencias en herramientas, tornillería, protección laboral (EPIS) y soldadura. Envíos en 24/48h.">
	<meta name="author" content="">
	<meta name="robots" content="<%= robots %>">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/low/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="css/main.css">
    <!-- Datos estructurados -->
    <%- include('../partials/schema') %>
</head>

<body class="<%= bodyClass %>">
	
    <%- include('../partials/topbar') %>
    <%- include('../partials/header') %>
    <div class="clearfix"></div>
    <%- body %>
    <div class="clearfix"></div>
    <%- include('../partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/herco.min.js"></script>
    <script>
        (function() {
            var $gallery = new SimpleLightbox('.product-img a', {});
        })();
    </script>
    
    <script>
        document.addEventListener(
            "DOMContentLoaded", () => {
                const menu = new MmenuLight(
                    document.querySelector( "#menu" ),
                    "(max-width: 1024px)"
                );

                const navigator = menu.navigation();
                const drawer = menu.offcanvas();

                document.querySelector( "a[href='#menu']" )
                    .addEventListener( "click", ( evnt ) => {
                        evnt.preventDefault();
                        drawer.open();
                    });
            }
        );
    </script>
    
    </body>
    
</html>    