<%- include('partials/hero', { title: 'Herco, especialistas en suministros industriales', bgimg: 'homepage.jpg' }) %>

<main aria-label="Main content">
  <%- include('partials/sections/quickorder') %>
  <%- include('partials/sections/featured-services') %>
  <%- include('partials/sections/promos') %>
  <%- include('partials/sections/downloads') %>
  <%- include('partials/sections/featured-categories') %>
  <%- include('partials/sections/latest-products') %>
  <%- include('partials/sections/brands') %>
  <%- include('partials/sections/community') %>
  <%- include('partials/sections/seo-text-home') %>
  <%- include('partials/sections/reasons') %>
  <%- include('partials/sections/testimonials') %>

</main>